{
  "beacon" : {
    "inkling" : {
      "default": [
				"Oh, hi!",
				"Cool place you got here!",
				"Wow, it's a little less neat than I expected..",
				"Woomy-- I mean, roomy! This house is roomy!"
			],
			"inkling": [
				"You've got nice taste in architecture!",
				"Woah, hey, another squid! That's awesome!",
				"Nice to meetcha!",
				"It's always super cool to see more cephalopod friends!",
				"Ae'eee! Kh'tktk zamyaii na otoidae."
			],
			"floran": [
				"Oh! Hey, plant-person!",
				"It's really pretty in here, you did a good job!",
				"You got any meat? I'm starved!"
			],
			"hylotl": [
				"Hey neighbor!",
				"Woah, nice house you have here!",
				"Uh, this isn't too close to fresh water, is it? Safety and all."
				]
    }
  },
  "rent" : {
    "inkling" : {
      "default": [
				"Yo, thanks for keeping me around!",
				"Is this enough? I hope it is!"
			],
			"inkling": [
				"You're a pal, thanks a ton for letting me hang!",
				"It's probably just turf change, but..",
				"It's not much, but I hope you like it anyways!"
			],
			"floran": [
				"It's not food or anything, I hope you like money too!",
				"Thanks for putting up with me!",
				"I'd give you a weapon instead, but I've no spares right now.."
			],
			"hylotl": [
				"Thanks for having me! It's been awesome so far!", 
				"Here, I hope you like it!",
				"It's just a little something, but-- but I hope it's okay!" 
			]
    }
  }
}