{
  "attack" : {
    "inkling" : {
      "default" : [
        "Hehe, you're no match for me!",
		"I'll wreck you!",
		"Let's see if you go splat!",
		"You can't beat me!"
      ]
    }
  },
  
  "reattack" : {
    "inkling" : {
      "default" : [
		"Hey! It's you again! Payback time!",
		"You can't escape from me!",
		"Kkaaaeee! Get back here!"
      ]
    }
  },

  "killedTarget" : {
    "inkling" : {
      "default" : [
        "That wasn't very hard.",
		"Aww, you barely tried!",
		"Phew, that was kinda tough!",
		"Woo! Easy as crabcakes!",
		"Success!"
      ]
    }
  },
  
  "lostTarget" : {
    "inkling" : {
      "default" : [
        "I dunno where you went, but I'll get you!",
		"If you come back, you'll regret it!",
	    "Next time I see you, it's splatting time!",
		"You can't run forever, pal!"
      ]
    }
  },
  
  "cantReach" : {
    "inkling" : {
      "default" : [
        "Hey, who said you could go up there?!",
		"Can somebody help me out here? I can't reach!",
		"Pfft, your moral high ground won't save you.",
		"Uh, can I borrow a charger? Preferably a scoped one?!"
      ]
    }
  },

  "cheerOn" : {
    "inkling" : {
      "default" : [
        "Let me help too!",
		"Yeah! Let's get 'em!",
		"Kyeee-aaaee! Splat 'em up!",
		"Don't mess with us squids, dweeb! We've got tons of friends!",
		"Time to paint the town red! Or, uh, lots of colors!!"
      ]
    }
  }	
}