{
  "greeting": {
    "inkling" : {
		 "default" : [
			  "Hello!",
			  "Whimimi!",
			  "Woomy!",
			  "Hiya!",
			  "Having a good day? I hope so!",
			  "You need somethin'?",
			  "Hey, what's up?",
			  "Hey, you, did you catch the news yet?",
			  "Pssst, I wanted to tell you something! ... Hi!",
			  "Looking for something? 'cuz I probably don't have it.",
			  "Nice to see you today!",
			  "It's good to see you!"
			]
		}
	},
 "converse": {
	"inkling" : {
		  "default" : [
				"Woah, it's a person! I'm <selfname>!",
				"The weather's nice, huh? .. Haha. Yeah, not really, is it?",
				"Welcome! Or something! This isn't actually my house.",
				"You're not from here, are ya'? Well, that's cool! New faces are cool!",
				"Khkhkh. I dunno how to feel about strangers, they're always dangerous.",
				"Eeah! Don't surprise me like that!",
				"Having a cool day? I'm not, but I hope you are.",
				"It's been really busy around here lately. You're not helping much.",
				"Got any peanut butter on you?",
				"You kinda smell like fish. Where's the goods?",
				"Hey, a stranger! Where'd you come from?",
				"You don't look very fresh.",
				"You're, uh, not lost, right?",
				"Your weapons are weird! Where's your Splattershot?",
				"Aeeheehee, don't bug me, I'm busy!",
				"Ooh! Do you have any foreign food? I'll trade you some sushi for it!",
				"Wait, when did we get visitors? I gotta go put on the music!"
			],
			"apex" : [
				"Are you guys related to humans? You kinda look like 'em, but fuzzy!",
				"Don't you like fruit too? Dude, I could talk about fruit all day!",
				"Your clothes are so serious.. they're really cool!",
				"I keep hearing about this ''Miniknog''. What IS it, anyways?",
				"You got any science-y stuff on you? Science-y stuff goes with my interior decorating!",
				"Is all that hair itchy? We don't have hair! None!",
				"Are all your weapons shiny and bland like that? I can help paint 'em!",
				"We've got a military too, but they're good.. mostly... I think...",
				"You're not here to get me in trouble, right? I'm a good squid! Promise!",
				"What kind of stuff do your guns shoot? Like, lasers and stuff?! Too cool!",
				"You don't have any fun colors on your clothes.. is all Apex stuff like that?",
				"I'll totally trade you a banana if you have a watermelon.",
				"I hope you're here to be good, or else I'm gonna get my roller on you!",
				"Everyone calls you folks monkeys, but... I dunno what a monkey is.",
				"You're part of the Resistance, right? We don't like mean monkeys!"
			],
			"avian" : [
				"Hey, birdy!",
				"Bird bird. We've got birds back on our home planet, too!",
				"Oh, uh.. I'm gonna guess you're not interested in roast sparrow?",
				"Maybe I can teach you to fly! We can jump really, really far!",
				"Your feet are all scaly.. is that normal?",
				"We've got beaks too! Except they're inside our mouths, not outside.",
				"The little fluff around your face looks like one of our masks!",
				"It's okay. We're not super into religion, either. It's, like, whatever, dude.",
				"You're not one of the emissaries of Kluex, right? I don't want what they're selling.",
				"Eeee-eeeeee~! Your voices kinda sound like ours!",
				"Dude. Your colors are totally wicked!",
				"Do you paint your feathers? Or are they always that color?",
				"You should come turfing sometime! You'd fit right in! Besides the no ink thing...",
				"What kinds of things do you eat? Back home, the birds eat everything! Uh, almost.",
				"Are all of you birdies that colorful? That's so cool!"
			],
			"floran" : [
				"Oh! N'wai-- I mean, hi!",
				"Your head-petals are so pretty. Can I touch them?",
				"Aah, pointy stick! You're a nice Floran, right?",
				"It's always fun to see a Floran. You guys are like, super colorful and stuff. It's cool.",
				"Um, do you come in peace? I hope so.",
				"You wanna trade snacks? I haven't had meat that isn't fish in.. forever.",
				"What makes you so colorful? Do you have ink inside you?",
				"If you're a plant, do you like water? We can't swim in fresh water, it sucks.",
				"Woah, those are cool weapons! Teach me, I wanna learn!",
				"We don't use stabby weapons. All our smackin' ones are flat or brushy!",
				"You wanna go hunting? Together, we can catch the biggest fish ever!",
				"Those clothes are super fresh, they're all... all nature-y and stuff! Cool!",
				"You live in trees, right? I wanna live in a treehouse too!"
			],
			"human" : [
				"Oh! Oh, look, it's a human!",
				"I didn't know that humans lived in other places too!",
				"You're a lot less fuzzy than I thought you'd be.",
				"What's that stuff on your head? That's not tentacles!",
				"Your faces kinda look like ours, but we've got pointy teeth.",
				"Haha, you smell funny. Mammals always smell really funny.",
				"You're gonna be nice to the nature, right? Humans are.. funky about nature sometimes.",
				"Where's your spaceship? Don't space-humans always have them?",
				"We had humans on our planet once, but they all died from the floods...",
				"Your tentacles-- uh, um, your hair is a cool color!",
				"Do humans have markings? You must be so boring under your clothes!",
				"Hehe, your teeth are all smooth! How do you eat anything like that?",
				"Uh.. you don't hate us over the Earth thing, right? It wasn't us!",
				"I never really cared much about the Protectorate. It was just, like.. a thing.",
				"So what kinda things do you guys eat? Do you have any sweets?",
				"Don't humans like water? Can you go in fresh water and not die?",
				"If someone calls you stinky, like, it's not an insult. We just have really crazy-strong noses.",
				"Humans have umbrellas too, right? Wanna trade yours for a Brella?"
			],
			"hylotl" : [
				"Hi, fishy!",
				"It's always fun to see you guys. Your architecture's totally fresh!",
				"You wanna stay for dinner? We made inagi sushi, and lots of nikuman, and...",
				"Fishy fishy fish. It's okay, we only eat not-people-fish.",
				"Those shoes are rad. Like, sandals? They're so, so cool!",
				"I dropped my hat in the lake.. you can swim, could you get it?",
				"We don't see Hylotl much. It's a kinda a shame, you're nice dudes.",
				"Haha, your skin's all slimy! Our tentacles are, too!",
				"You just passin' through? I'd love to talk!",
				"Wanna trade furniture or something? It'd make both our houses real cool!",
				"I always wondered-- are you fishies, or amphibians?",
				"Ohh! Your skin's really pretty! Shiny too!",
				"If you wanted t'talk to the Agency, there's not a branch here. Sorry."
			],
			"glitch" : [
			    "Oh! Robot! Hello, robot-person!",
				"Beep beep broop.",
				"You're not one of the stuffy Glitch, right? The boring ones?",
				"Is it law that you gotta talk about your mood first? Or do y'just.. do it?",
				"You're all shiny, like a Gold Dynamo! You're all polished! Neat!",
				"So do you like to dance? Do you dance all old-style-y?",
				"Are you a time traveler? Your clothes are all dress-y and stuff!",
				"Beep beep!",
				"Do you ever paint yourselves? Lots of Glitch are boring colors!",
				"What kinds of weapons do you use? Like, swords and stuff?",
				"Wait, if you're a robot, what do you eat?",
				"So what happens to YOU if you fall in water? I'm super curious.",
				"Ink doesn't stick to metal too well, so you shouldn't get sticky.",
				"Do you guys have kings and queens and stuff? That's so cool!",
				"Are you ticklish? Can robots be ticklish?",
				"How do you eat things? Do you have teeth? We've got teeth, see?",
				"Do you have little wheels on your feets?",
				"Breeeeeep."

			],
			"novakid" : [
				"Ooh, glowy! Some of us can glow too, even if usually it's just firefly squid.",
				"What's with the thingie on your face? What's it mean?",
				"If you're a star, can you change colors and stuff?",
				"Can I paint your guns and stuff? They're cool-lookin'!",
				"So if you eat things, does it just.. burn up?",
				"We don't need to glow, we can see in the dark pretty good.",
				"Where're you from?",
				"Are you a cowboy? There's no cows in space, I think!",
				"What do your guns shoot? Bullets? Energy? Cereal?",
				"Your clothes aren't super fresh, but your weapons are neat.",
				"Are you just.. on fire? All the time? What's it like?",
				"So if you're made of gas, can you fly?",
				"If you drink chemicals, do you explode?",
				"One of my buddies have a gun store. You should check it out!",
				"It's okay if you forget something. I forget a lot too. I think.",
				"Is your fire like hair? Can you shape it?",
				"It's just a myth that we're flammable! Ink isn't flammable at all, actually."
			],
			"inkling" : [
				"Khkhkeeee... I haven't seen another squid in, like, forever.",
				"You wanna swap CDs or something? I've got some cool older beats..",
				"What colony are you from? I've never seen you before!",
				"Your tentacles are styled really pretty! Did you do that yourself?",
				"Looking pretty fresh, kiddo!",
				"You gonna be here in a few days? I need another squid for my turf team!",
				"Haha, that's the weapon you use? My roller's better!",
				"Oh! A stranger! Hi, stranger squid! Where'd you come here from?",
				"Nice colors you got there!",
				"How'd you get here? Did the Agency send you?",
				"Those are super cool shoes! Who made 'em?",
				"Hey! You're just in time for dumplings!",
				"You wanna go fishing?",
				"Dude, your pockets look like they're gonna explode. You find any treasure?",
				"Woomy!",
				"Ngyes!",
				"Whimimi..",
				"You're a tough-looking kid! Uh, squid!",
				"Grbgrbgl.",
				"You've got friends here! Don't worry!",
				"Wooooomy.",
				"Oh, sorry, I just got back from a turf match. It was whack!",
				"You ever tried super jumping in low gravity? It's SO awesome!",
				"Hehehe, I don't actually live here.",
				"Did you catch the last news broadcast? There's gonna be a concert!",
				"Man, I'd love another Splatfest. Not about food this time, hopefully.",
				"So, like, space squid! What's your favorite band?",
				"... I just realized that my nikuman are probably burning on the stove. EEAAH--!",
				"Psssst. You got any burst bombs? No reason.",
				"You're from space, right? Space squid? What's your ship like?!",
				"Hey! A visitor! I'm gonna go turn on the stereo!",
				"Where you're from? How do you dance there?"
			]
		}
	},
 "accuse": {
    "inkling" : {
		 "default" : [
					"Hey! That's not yours!",
					"Can you, um, maybe put that back?",
					"Don't touch my stuff, dude!",
					"That's my turf, stop messin' in it!",
					"Maybe, uh.. don't do that?",
					"Don't make me get the hose. Put that back.",
					"Aaaaee! That's mine! Stop touchin' it!"
				]
		}
	},
 "alert": {
    "inkling" : {
		 "default" : [
						"You gross thief, get back here!",
						"Guards! This slime's stealing my stuff!",
						"Hssssss, give that back! Guards! Over here!",
						"Hey! Hey guards! There's a thief!"
					]
		}
	}
}