{
	"helpme" : {
	    "inkling" : {
          "default" : [
            "Hhhsssss! Get it away from me!",
			"Can somebody help me over here?!",
			"Aae, help me, please!",
			"Aha, nope-- a-ah! Help!",
			"Nope nope nope nope nope!",
			"This isn't what I signed up for!"
          ]
        }
	},
		
    "helpthem" : {
		"inkling" : {
          "default" : [
            "Aw geez, someone help!",
			"Uhm, uhm...! We need backup!",
			"We need some help over here!"
          ]
        }
	},
		
    "encourage" : {
		"inkling" : {
          "default" : [
            "Eeah! Yeah! Get 'em!",
			"Ng'squee!",
			"Beat 'em good!"
		  ]
        }
	},
		
    "safe" : {
		"inkling" : {
          "default" : [
            "I'm-- I'm fine!",
			"Yikes.",
			"Ugh, finally, it's over.",
			"Too close. Way too close.",
			"I'm alright!"
          ]
        }
	}
}