{
  "tagCriteria" : {
    "inkling" : {
      "default" : [
        "It feels kinda weird in here..",
		"This place's really uncomfy. Unfresh.",
		"It's kinda creepy in here!"
      ]
    }
  },
  
  "enclosedArea" : {
    "inkling" : {
      "default" : [
        "I think there's something wrong here.",
		"Hey, could you fix things up a bit for me here?",
		"So, uh, any chance you could help me fix this place up?",
		"This place is still unfresh."
      ]
    }
  },
  
   "otherDeed" : {
    "inkling" : {
      "default" : [
        "Wait, you mean this isn't just MY house? What's that about?",
        "Hey, um-- I don't mind guests, but this is mine!",
		"What're you doin' puttin' that on the wall? That's not a poster, that's a deed!",
		"Look, I don't mind sharing, but.."
      ]
    }
  },
  
  "severe" : {
    "inkling" : {
      "default" : [
        "Where can I file a complaint about this?!",
        "Hey! There's something seriously wrong with my house here!",
		"Can somebody, uh, maybe help me with my house?",
		"Could someone gimme a tentacle over here?"
      ]
    }
  },
  
   "final" : {
    "inkling" : {
      "default" : [
        "Aha, forget this! I'm outta here!",
        "Nope, I'm done. Like, officially done. Bye.",
		"Enough's enough. Seeya!",
		"This place sucks. Bye, dude!"
      ]
    }
  }
}