{
  "hail" : {
    "inkling" : {
		    "default" : [
				"You better watch it if you're gonna pick a fight!",
				"I'm just here to make sure everyone's safe. Move along.",
				"Don't cause any trouble if you know what's good for you.",
				"We're all friends here, right?",
				"Don't start any fights, or else I-I'll kick your butt!",
				"Intruders aren't welcome, only fresh people.",
				"Have a nice day, yeah?",
				"Hey, nice to see ya!",
				"Oh! Hi! Hope you're having a cool day!",
				"Going somewhere? Uh, be safe, alrighty?",
				"Good to meetcha, stranger!",
				"Take care of yourself! Remember to stay hydrated!"
			],
			"inkling" : [
				"Aae! Nice to see you.",
				"Remember, no turfing outside of defined arenas.",
				"We've got a strict policy on keeping your tentacles to yourself. Move along.",
				"Hey, finally, a visitor that doesn't stink! All these mammals and birds do.",
				"Who did up your tentacles? That's a hella rad style!",
				"We're always recruiting if you need some pocket change!"
			],
			"human" : [
				"We know how you humans can be sometimes. Behave.",
				"You're welcome as long as you don't start problems.",
				"The Agency is watching you, human.",
				"Be careful what you say around here."
			],
			"avian" : [
				"Greetings, birdy! Kluex follower or not, you're totally welcome!",
				"If you're here for religion, we're not buying any.",
				"You should go hit up some merchants, they'd love to trade a bit.",
				"Grounded are always welcome here. Just mind the food, we eat poultry.",
				"I heard karaoke's at the sushi bar tonight, if you were interested."
			],
			"floran" : [
				"Please remember, no sssstabbing while you're here.",
				"You look hungry-- there's a great sushi bar downtown!",
				"Your foliage looks great, who did it up for you?",
				"Please keep your hands and pointed objects to yourself while you're here.",
				"Welcome! Feel free to hang out and, like, stuff."
			],
			"apex" : [
				"Is that whole rebellion thing going well on your end?",
				"If you're Miniknog, you're not welcome here. Otherwise, be free to stay.",
				"Be free to kick back here, there's no Miniknog watching.",
				"You might want to hit the showers if you stay too long."
			],
			"hylotl" : [
				"It's nice to see a friendly face on a day like this.",
				"Other aquatic folk are always welcome. Just, please, easy on the water.",
				"So tell me, where're you from?",
				"Good to see you.",
				"Greetings!" 
			],
			"glitch" : [
				"You're looking a little rusty. We've got tons of mechanics if you need help.",
				"Try not to criticize our forwards-thinking environment while you're here, yeah?",
				"If you wanted to catch a drink, the bar still has olive oil.",
				"Greetings! ... Uh, that squeaky joint's a bit much on my ears. Might wanna fix that."
			],
			"novakid" : [
				"Hail, traveler! Good to see you.",
				"There's this great bar just downtown, if you wanted to go and chill.",
				"Your colors are wicked fresh! You'll fit right in.",
				"Can we, like, examine your firearms later? No fuss. Just curious."
			]
		}	
  },
  "weaponwarning1" : {
    "inkling" : {
				"default" : [
					"Could you put that away, please? It's the rules.",
					"If you could keep your weapons out of sight, that'd be great."
				],
				"inkling" : [
					"No turfing here, pal. Please put the weapon down.",
					"If you could put that away, that'd be hella fresh."
				]
        }
  },
  "weaponwarning2" : {
    "inkling" : {
				"default" : [
				"Did you not hear me? Put that weapon away.",
				"Hey, put that thing away! I already told you!"
				],
				"inkling" : [
				"Dude. Can you maybe put that down already? It's a hazard.",
				"I already told you, you can't turf here!"
				]
        }
  },
  "weaponwarning3" : {
    "inkling" : {
				"default" : [
				"Buddy. Pal. Please put that thing away.",
				"No weapons out. I'm not warning you again."
				],
				"inkling" : [
				"Kid, please. Even if it's just a Splattershot, the rules are clear.",
				"Put that away or else we'll be forced to use force."
				]
        }
  },
	"weaponSheathed" : {
	  "inkling" : {
			"default" : [
			"Thanks.",
			"It's appreciated!"
			],
			"inkling" : [
			"Thanks a ton.",
			"Thanks for complying!"
			]
        }
	},
  "comeBack" : {
    "inkling" : {
        "default" : [
            "Hey, you! Get back here!",
			"We've got a runner!",
			"Hhhssss! I'm talking to you!"
            ]
		}
    }
}