{
"merchantStart" : {
	"inkling" : {
		"default" : [
		"Hiya! Do you want to see what I've got for sale?",
        "I've got some really cool stuff for sale!",
        "Pixels and homeworld cash only, please!",
        "Look here, this is what I've got right now.",
        "You interested in weapons? I've got 'em!"
		]
    }
  },
  
  "merchantEnd" : {
    "inkling" : {
    	"default" : [
		"Hey, thank you! Bye!",
        "Nice havin' you!",
        "Come back soon, 'kay?",
        "If you need more destroyin' gear, come on back whenever!",
        "Woomy!"
      ]
    }
  },
  
  "follow" : {
    "inkling" : {
    	"default" : [
	    "C'mon, my store's over here!",
        "Just a moment, everything's right here..",
        "If you wanna see the things I've got, follow me!"
      ]
    }
  },
  
  "welcome" : {
    "inkling" : {
    	"default" : [
	      "So, whatcha' interested in?",
          "See anything you like?",
          "I've got lots of neat things!"
      ]
    }
  },
  
  "tout" : {
    "inkling" : {
    	"default": [  
        "I've got some super rad stuff! Weapons and all sorts of things!",
		"Yo, c'mere and see my wares! They're awesome, I swear!",
		"Only the freshest goods!",
		"Looking for something? I've probably got it!"
      ],
      "inkling": [  
        "Kyae ae' wh'nai! Only the best at my shop!",
		"Hey, fellow squid! Looking for turfin' gear?",
		"Just remember, we don't accept Octo money 'round here.",
		"It's all quality-made stuff. Khh-khree'ae.",
		"You might want more than just turf change if you want to buy my stuff! Worth it, though!"
      ]
    }
  }
}