{
	"inbasicmerchant" : [
		[0, [
		
		{ "item" : { "name" : "bandage" }},
		{ "item" : { "name" : "climbingrope" }},
		{ "item" : { "name" : "paperplane" }},
		
		{ "item" : { "name" : "incanofsardines" }},
		{ "item" : { "name" : "burstbomb3" }},
		{ "item" : { "name" : "suctionbomb" }},
		{ "item" : { "name" : "splatbomb" }},
		{ "item" : { "name" : "iflarered" }},
        { "item" : { "name" : "iglowstickcyan" }},
        { "item" : { "name" : "iglowstickpurple" }},
        { "item" : { "name" : "iglowstickpink" }},
        { "item" : { "name" : "iglowstickred" }},
		{ "item" : { "name" : "inklinginkvial" }}
		
		]]
	],
	
	"inweaponmerchant" : [
		[ 0, [
		
		{ "item" : { "name" : "inklingtier2hammer" }},
		{ "item" : { "name" : "inklingtier2shortsword" }},
        { "item" : { "name" : "inklingtier2grenadelauncher" }},
        { "item" : { "name" : "inklingtier2machinepistol" }},
        { "item" : { "name" : "inklingtier2assaultrifle" }},
		{ "item" : { "name" : "inklingtier2pistol" }},
		{ "item" : { "name" : "inklingtier2sniper" }},
		{ "item" : { "name" : "inklingtier3shotgun" }},
		
		{ "item" : { "name" : "inbluefiltercartridge" }},
		{ "item" : { "name" : "ingreenfiltercartridge" }},
		{ "item" : { "name" : "inorangefiltercartridge" }},
		{ "item" : { "name" : "inredfiltercartridge" }},
		{ "item" : { "name" : "inpurplefiltercartridge" }},
		{ "item" : { "name" : "inyellowfiltercartridge" }}
		]]
	],
	
	"inchefmerchant" : [
	[ 0, [ 
		
		{ "item" : { "name" : "rice" }},
		{ "item" : { "name" : "wheat" }},
		{ "item" : { "name" : "rawbacon" }},
		{ "item" : { "name" : "rawpoultry" }},
		{ "item" : { "name" : "rawtentacle" }},
		{ "item" : { "name" : "ricepudding" }},
		{ "item" : { "name" : "specialrice" }},
		{ "item" : { "name" : "fishfingers" }},
		{ "item" : { "name" : "fishstew" }},
		{ "item" : { "name" : "meatdumplings" }},
		{ "item" : { "name" : "inplainramen" }},
		{ "item" : { "name" : "indango" }},
		{ "item" : { "name" : "infishnikuman" }},
		{ "item" : { "name" : "inmelonpan" }},
		{ "item" : { "name" : "intakoyaki" }}
	
		]]
	],
	
	"inoutpostmerchant" : [
	[ 0, [ 
		
		{ "item" : { "name" : "inarmordata" }},
		{ "item" : { "name" : "incodexdata" }},
		{ "item" : { "name" : "incraftdata" }},
		{ "item" : { "name" : "infooddata" }},
		{ "item" : { "name" : "inobjectdata" }},
		{ "item" : { "name" : "inbombdata" }},
		{ "item" : { "name" : "inweapondata" }},
		{ "item" : { "name" : "inklingseasnailplush" }},
		{ "item" : { "name" : "inkchest1" }},
		{ "item" : { "name" : "inkchest2" }},
		{ "item" : { "name" : "inalbum1" }},
		{ "item" : { "name" : "inalbum2" }},
		{ "item" : { "name" : "inalbum3" }}
	
		]]
	],
	
	"indoctormerchant" : [
	[ 0, [
	
		{ "item" : { "name" : "bandage" }},
		{ "item" : { "name" : "salve" }},
		{ "item" : { "name" : "greenstim" }},
        { "item" : { "name" : "yellowstim" }},
        { "item" : { "name" : "bluestim" }},
		{ "item" : { "name" : "redstim" }},
		{ "item" : { "name" : "orangestim" }},
		{ "item" : { "name" : "antidote" }},
		{ "item" : { "name" : "burnspray" }}
		]]
	],
	
		"inturretmerchant" : [
	[ 0, [
	
		{ "item" : { "name" : "bandage" }},
		{ "item" : { "name" : "rawtentacle" }},
		{ "item" : { "name" : "suctionbomb" }},
		{ "item" : { "name" : "splatbomb" }},
		{ "item" : { "name" : "iflareblue" }},
		{ "item" : { "name" : "fabric" }},
		{ "item" : { "name" : "string" }},
		{ "item" : { "name" : "inklinginkvial" }},
		{ "item" : { "name" : "inbluefiltercartridge" }}
		
		]]
	]
}