{
"merchantStart" : {
	"inkling" : {
		"default" : [
		"I've got some pretty neat stuff here~",
		"If you're looking for secrets, I got 'em! Other things.. eh.",
		"Some pix are a cheap price to pay for a bit of knowledge!",
		"This stuff's all 100% safe. Promise.",
		"It's not awful much, but it's awful cool, that's for sure!"
		]
    }
  },
  
  "merchantEnd" : {
    "inkling" : {
    	"default" : [
		"Awesome doin' business with you!",
		"You come back, yeah?",
		"Always happy to help!",
		"You come back again sometime, gotcha?",
		"Nice meetin' you!",
		"Haha, don't tell anyone I'm here!",
		"Thanks a ton!",
		"Thanks! Uh, if you see that Apex scientist-- tell her that I wanna hang out! She's pretty cute.."
      ]
    }
  },
  
  "follow" : {
    "inkling" : {
    	"default" : [
	    "Yeah, over here!",
		"C'mon, my stuff's all back here.",
		"Everything's back here, hold on..",
		"Follow me!"
      ]
    }
  },
  
  "welcome" : {
    "inkling" : {
    	"default" : [
	      "Heya! There you are!",
		  "Oh, hey, you actually followed me! Here's the goods!",
		  "C'mon, take a look!"
      ]
    }
  },
  
  "tout" : {
    "inkling" : {
    	"default": [  
		"Hey, you! Wanna see some cool stuff?",
		"Kkkyaa! Greetings! Come on over, I'll show you what I've got!",
		"Surprised to see me? That's alright! Over here, I've got cool stuff.",
		"Pssst, I've got some neat goodies you won't find anywhere else!",
		"Hey, over here! I've got some sweet things to sell ya'!",
		"Hey! Yeah, you! You wanna learn some neat things? I can help you out!"
      ],
      "inkling": [  
		"Kkkyaa! Greetings! Come on over, I'll show you what I've got!",
		"Hey, a squid! Never thought I'd see one of you guys out here!",
		"Surprised to see me? That's alright! Over here, I've got cool stuff.",
		"Pssst, I've got some neat goodies you won't find anywhere else!",
		"Hey, over here! I've got some sweet things to sell ya'!",
		"You up for some stolen government secrets? They're cheap!",
		"Hey, squiddo! You wanna see something rad? Over here!"
      ]
    }
  }
}