{
"merchantStart" : {
	"inkling" : {
		"default" : [
	"Heh... Doing this kinda reminds me of the café.",
	"I got stuck in a jar once... Trust me, it was not fun.",
	"Hey, have you seen my shrimp, Gizmo, by any chance? I desperately miss him…",
	"I know it's cool that I glow and all but, please don't shake me like a glowstick...",
	"Beep! Beep! Chirp!",
	"I'll also play the ukulele for cash! Or, at least I would if I knew where mine went..."
		]
    }
  },
  
  "merchantEnd" : {
    "inkling" : {
    	"default" : [
	"Come back soon, I guess...",
	"Thanks for helping me out. Come back soon!"
      ]
    }
  },
  
  "follow" : {
    "inkling" : {
    	"default" : [
		"Yeah, just back here.",
		"Y'know, if you had some peanut butter, I could get you some other cool stuff too!"
	  ]
    }
  },
  
  "welcome" : {
    "inkling" : {
    	"default" : [
	      "Yeah, I've got the goods!",
		  "I'd be happy to accept food as payment, too.."
      ]
    }
  },
  
  "tout" : {
    "inkling" : {
    	"default": [  
		"I honestly have no idea how I got here... but d'you wanna buy something?",
		"Hey, um! If you need useful junk, I have some! I need pixels for the vending machine...",
		"I've got some stuff that could be yours... If you have pixels, that is.",
		"ZZZZZZZ... HUH!? Oh! H-Hey there!",
		"I'm cold and hungry... Okay, I take that back. I'm not cold but I AM hungry."
      ],
      "inkling": [  
		"I honestly have no idea how I got here... but d'you wanna buy something?",
		"Hey, um! If you need useful junk, I have some! I need pixels for the vending machine...",
		"Hey, could you help a fellow squid out and spare me some pixels? I've got, uh, useful stuff!",
		"ZZZZZZZ... HUH!? Oh! H-Hey there!",
		"I'm cold and hungry... Okay, I take that back. I'm not cold but I AM hungry."
      ]
    }
  }
}